/*
    color: #ffc514; - акцентный цвет
    background-color: rgba(246,209,233,0.25); - цвет фона
    background-color: #333; - цвет меню



 */


body{
    text-decoration: none;
    background-color: rgba(246,209,233,0.25);
}


.menu {
    /*todo нариловать логотип*/
    /*todo сделать логотип в меню*/
    /*todo закрепить, при прокрутке вверх/вниз остается. на вершине - отступ*/
    /*todo выше менюшки маленький значек выбо языков*/

    background-color: #333;

    margin: 0px 10px;

    font-size: 2rem;

}

ul li {
    display: inline-block;
    text-align: right;
    margin: 0% 6%;
    /*todo убрать перенос строки. проблема возможно из-за ширишы контейнера*/
}

ul li a{
    /*color: whitesmoke;*/
    color: #fff;
}

ul li a:hover{
    /*todo !!!!!!!!!!!!!!!! при наведении сделать плавную анимацию как на apple */
    text-decoration: none;
    color: red;
}

img{
    background-position: center !important;
    width: 100%;
    height: 400px;
}

.text-box{

    /*todo сделать нормальную рамку*/

    margin: 20px 0px;
    display: inline-block;
    border: red solid 2px;
    width: 100%;
    /*todo выбрать фон*/
    background-color: rgba(255,186,0,0.1);

}

h1{
    color: #ffc514;
    text-align: center;

}