body{
    margin-top: -16px;
}

.container{
    width: 66%;
    margin-left: auto;
    margin-right: auto;
    background-color: yellow;
}

.row_top{
display: table;
}

.col_top_1_logo{

}

.col_top_2_description{

}

.col_top_3_contact{

}

.row_middle{

}

.row_button{

}