


body{
    margin: 0 0;
    padding: 0 0;
    /*font-family: Tahoma, Arial, serif;*/
    font-family: 'Oswald', sans-serif;

}


.container{
    width: 960px;
    margin-right: auto;
    margin-left: auto;


}

.line{
    margin: 0% auto;
    padding: 0% 0%;
    display: block;
    box-sizing: border-box;


}

.logo{
    font-family: 'Oswald', sans-serif;
    color: #333;
    font-size: xx-large;

}



.menu{
    background-color: #333;
    margin-top: 2%;
    margin-bottom: 0%;
    font-size: 1.2rem;
    padding-bottom: 0.4%;
}

ul{
    margin: 0 0;
}


p{
    margin-bottom: 1%;
}

.menu ul li {
    display: inline-block;
    text-align: right;
    margin: 0% 8%;
}

.menu ul li a{
    color: #fff;
    text-decoration: none;
}

.menu ul li a:hover{
    text-decoration: none;
    color: red;
    cursor: pointer;
}

img{
    background-position: center ;
    width: 100%;
}


.text-block{
    margin: 20px 0px;
    padding: 0px 40px 20px 40px;


    display: inline-block;
    width: 100%;
    background-color: #FAFAFA;
    border: 1px solid #FAFAFA;
    border-radius: 5px;
    font-size: 1.5rem;
}
.text-block:hover{
    box-shadow: 0px 0px 10px 2px #706c6e;
}

.text-block-transition{
    transition: 500ms;
}

.text-block>ul{
    list-style: disc;
}

.text-block a{
    text-decoration: none;
    color: black;
}
.contacts{
    display: inline-block;
    width: 33% !important;
    margin: 4% 6% !important;

}





.accent{
    background-color: #ffc514;
    padding: 15px 15px;

    margin: 4% 10%;

    border: 1px solid #ffc514;
    border-radius: 8px;
    text-align: center;
}



.text-head{
    margin: 4% 20%;
    padding-bottom: 20px;

    color: black;
    text-align: center;
    font-size: 2rem;
    font-weight: 100;
}

.vertical{
    display: inline-block;
    height: 50px;
}

.vertical-2{
    display: inline-block;
    height: 150px;
}

